*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  height: 120px;
  display: block;
  margin: 0 auto;
}

body{
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  background-color: #121214;
  color: white;  
  font-family: "Inter";
}

header{
  padding-top: 32px;
  text-align: center;
}

header img{
  width: 15rem;
}

main{
  max-width: 36rem;
  width: 90%;
  margin: 3rem auto;
}

section{
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50%, #E2D45C 100%);
  border-radius: 0.625rem;
  padding-top: 4px; 
  opacity: 0; 

  transform: translateY(2rem);
  animation-name: appear;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}

@keyframes appear{
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

section > div{
  padding: 2rem;
  padding-top: 1.5rem;
  border-radius: 0.5rem;
  background-color: #2A2634;
}

section h2{
  letter-spacing: 0.3px;
  font-size: 1.5rem;
  font-style: oblique;
  padding-bottom: 2px;
}

section p{
  letter-spacing: -0.18px;
  color: #A1A1AA;
}


form{
 display: flex;
 flex-wrap: wrap; 
 gap: 0.5rem;
 margin: 1rem 0;
}


input, select{
  all: unset;
  border: 2px solid #9147FF;
  border-radius: 0.5rem;
  padding: 0.675rem;
  font-size: 0.875rem;
  background-color: #1f1d22fa;
  flex: 1;
}

button{
  width: 100%;
  border: 0;
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50%, #E2D45C 100%);
  padding: 0.675rem;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 1.5px;

  transition: all 0.3s;
}

button:hover{
  transform: translateY(-2px);
  box-shadow: 0 5px 2rem rgba(255, 248, 107, 0.3);
}

button:disabled{
  transition: initial;
  transform: initial;
  box-shadow: initial;
  cursor: not-allowed;
  color: black;
}

.loading{
  animation: pulse 2s infinite;
}

@keyframes pulse{
  50%{
    opacity: 0.5;
  }
}

#aiResponse{
  background: rgba(000, 000, 000, 0.3);
  border-radius: 10px;
  padding: 1.4rem;
  border-left: solid 4px #43E7AD99;
}


#aiResponse ul {
  color: white;
  padding-left: 1rem;
  margin: 0.7rem;
}

#aiResponse p {
  color: rgba(255, 255, 255, 0.7);
}

.Hidden{
  display: none;
}
